@tailwind base;
@tailwind components;
@tailwind utilities;


/* Reset margin and padding for body and html */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.slogan-enter {
  animation: fadeInUp 0.5s ease-out forwards;
}

.slogan-exit {
  animation: fadeOutDown 0.5s ease-out forwards;
}
